
* { 
    margin: 5px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14pt;
    
    } 

.myForm {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: 0.8em;
    background: rgb(215, 240, 210);
    padding: 1.2em;
  }
  .myForm > label,
  .myForm > fieldset  {
    grid-column: labels;
    grid-row: auto;
  }
  .myForm > input, 
  .myForm > select,
  .myForm > textarea {
    grid-column: controls;
    grid-row: auto;
    padding: .4em;
    border: 0;
  }
  .myForm > fieldset,
  .myForm > button {
    grid-column: span 2;
  }  
  .myForm > button {
    padding: 1em;
    background: rgb(76, 160, 121);
    border-radius: 15px;
    border: 0;
    color: white;
    }

#test{
    background-color: rgb(215, 240, 210);
    width: 95%;
    padding: 15px;
    margin: 15px;
    border: 5px solid rgb(76, 160, 121) ;
    border-radius: 15px;
}
legend {
font-size: 18pt;
}
.conts{
    border: 4px solid rgb(76, 160, 121) ;
   
    border-radius: 7px;
}
body { 
background-color: rgb(215, 240, 210);    
color: rgb(17, 56, 38); 
font-family:  Arial, Helvetica, sans-serif; 
} 

.preloader svg {
    max-width: 10em;
    border-radius: 3px;
    background: #FFF;
    fill: none;
    stroke: #9cb1a3;
    stroke-linecap: round;
    stroke-width: 12%
}
.preloader use {
    stroke: rgb(76, 160, 121);
    animation: preloader-a 2s linear infinite;
}
@keyframes preloader-a {
    to { 
        stroke-dashoffset: 0px 
    }
}